<head>
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- java -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <style>
        div.a {
            font-size: 75px;
        }
    </style>
</head>








<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand justify-content-end" href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm8qJesAO_5hhLgkRLy_JtzAsJmF70QrEPOdTAnC7BY2kKbymK"
                    width="600" height="100" class="d-inline-block align-top" alt="">
                <div class="a">
                    단어수를 세볼까?
                </div>

        </a>
    </nav>
    <div class="container">
        <h1> 단어 수를 세보자!</h1>
        <form action="{%url 'count'%}">
            <textarea cols="100" rows="10" name="fulltext"></textarea>
            <input type="submit" value="세자!">
        </form>

        <a href="{%url 'about'%}">ABOUT</a>

    </div>
</body>